persoane.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persoane">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persoana">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nume"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>